<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'snippets/css.html' %}
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <title>Title</title>
</head>
<body>
    {% block content %}

    {% endblock content %}
</body>
</html>