{% extends 'base.html' %}

{% block content %}
            <div class="container">
                <h1 class="text-center logo my-4">
                    <a href="{% url 'home' %}">Создать короткую ссылку</a>
                </h1>

                <div class="row justify-content-center">
                    <div class="col-lg-12 col-md-10 col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <form action="" method="post">{% csrf_token %}
                                    {% include 'snippets/form.html' %}
                                    <button type="submit" class="btn btn-primary btn-block">Создать</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

{% endblock content %}