{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="text-center logo my-4">
        Готово!
    </h1>

    <div class="col-lg-12 col-md-10 col-sm-12 text-center results">
        <p>Скопируйте эту ссылку: <a href="{{ urlrecord.short_link }}">{{ urlrecord.short_link }}</a></p>
        <p>Ссылка на: <a href="{{ urlrecord.link }}">{{ urlrecord.link }}</a> </p>
    </div>
</div>
{% endblock content %}