

.navbar-brand {
  font-family: 'Roboto Slab', cursive;
  color:#fff;
  font-size:28px;
}

h1 a {
    color: #555;
}
.results {
    font-size:18px;
    min-width:280px;
}

.results p {
    margin:20px 0px;
    border: 1px solid #000;
}

.results a {

    padding:10px;
}